@media screen and (min-width: 800px) {
  .contact .contact-form .contact-input {
    width: 50vw;
    height: 2.5rem;
    border: none;
    margin: auto;
    border-bottom: 2px solid white;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }

  .contact .contact-form .text-area {
    border: 2px solid white;
    height: 7rem;
  }
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0, 1) !important;
}

@media screen and (max-width: 992px) {
  .navbar {
    height: auto !important;
  }

  .Opentowork div p {
    padding: 0 0;
  }

  .contact .text {
    padding: 0 10%;
    line-height: 2.5;
    text-align: center;
  }

}

@media screen and (min-width: 1000px) {
  .Opentowork div p {
    padding: 0 20%;
    line-height: 2.5;
  }

  .contact .text {
    padding: 0 25%;
    line-height: 2.5;
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  width: 100vw !important;
}

body {
  background-color: rgb(0, 0, 0);
  background-image: url("bodyBG.jpg");
  background-size: cover !important;
  background-attachment: fixed !important;
  /* background-repeat: no-repeat; */
  color: white;
  /* overflow-x: hidden; */
}

.resume-image {
  max-height: 600px;
  padding: 5px;
  width: auto;
  border: 3px solid red;
  transition: 0.5s all ease-in-out;
}

.loaderIMG {
  padding: 10px;
  position: fixed;
  top: 45%;
  left: 45%;
  width: 100px;
  height: 100px;
}

.HideLoader {
  display: none;
}

a {
  cursor: pointer;
}

.navbar {
  background-color: #303030 !important;
  opacity: 0.925;
  padding-right: 1.5rem;
  margin-top: 2px;
  height: 3.5rem;
  position: fixed;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: rgb(255, 0, 0) !important;
}

/* Buttom Hover Animation */


.btn {
  background-color: rgb(255, 0, 0);
  color: white;
  margin-bottom: 0.5rem;
  transition: 0.25s;
}


.btn:hover {
  transform: translateY(-3px);
  color: white;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Buttom Hover Animation */
/* .btn:hover {
  background-color: transparent !important;
  color: white;
  border: 1px solid white;
} */

.me {
  height: 2.75rem;
  width: 2.75rem;
}

.introduction {
  margin-top: 5rem;
}

/* .introduction>.head:hover {
  text-shadow: 0 1px 0 #979797, 0 2px 0 #979797, 0 3px 0 #979797, 0 4px 0 #979797, 0 5px 0 #979797, 0 6px 0 #979797, 0 7px 0 #979797, 0 30px 30px rgb(0 0 0);
  /* text-shadow: 2px 2px 2px rgb(255 0 0); */
/* transform: skew(7deg, -7deg);
  font-weight: bolder;
  letter-spacing: 5px;
} */

.description {
  line-height: 2rem;
  color: rgb(250, 250, 250);
  font-weight: lighter;
}

.head {
  font-size: 3rem;
  text-shadow: 0 1px 0 #979797, 0 2px 0 #979797, 0 3px 0 #979797,
    0 4px 0 #979797, 0 5px 0 #979797, 0 6px 0 #979797, 0 7px 0 #979797,
    0 30px 30px rgb(0 0 0);
  /* text-shadow: 2px 2px 2px rgb(255 0 0); */
  transform: skew(7deg, -7deg);
  font-weight: bolder;
  letter-spacing: 5px;
  /* transition: ease-in-out 0.1s; */
}

/* .introduction {
      backdrop-filter: blur(10px);
  } */

.breakline {
  background-color: rgb(255, 255, 255);
  width: 70%;
}

.edu_icons {
  color: rgb(255, 0, 0);
  margin-bottom: 1rem;
}

.education {
  padding: 0 10%;
  text-align: center;
}


.edu {
  padding: 2% 0;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  line-height: 21px;
}

.skill div {
  letter-spacing: 0.5px;
}

.projects {
  text-align: center;
}

.project {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  padding: 0 10%;
}

.project_description {
  color: rgb(189, 189, 189);
  font-weight: lighter;
  line-height: 30px;
  text-align: left;
  color: white;
  font-size: 14.5px;
  letter-spacing: 0.5px;
}

.project img {
  width: 90%;
  height: 100%;
  border: 3px solid red;
  transition: 0.5s all ease-in-out;
}

/* .project img:hover {
  transform: scale(1.15);
} */

.projects_lottie {
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 6rem;
  margin-top: 2rem;
  text-shadow: 0 1px 0 #979797, 0 2px 0 #979797, 0 3px 0 #979797,
    0 4px 0 #979797, 0 5px 0 #979797, 0 6px 0 #979797, 0 7px 0 #979797,
    0 30px 30px rgb(0 0 0);
  /* text-shadow: 2px 2px 2px rgb(255 0 0); */
  transform: skew(7deg, -7deg);
  font-weight: bolder;
  letter-spacing: 5px;
}

.foot .footer_icons {
  width: max-content;
  margin: auto;
  box-sizing: border-box;
}

.skills {
  padding: 0 10%;
}

.skill-heading {
  font-size: 1.85rem;
  line-height: 35px;
  margin-bottom: 0 !important;
}

.skill {
  padding: 3%;
}

.skill div {
  font-weight: lighter;
}

h2 {
  font-weight: normal;
}

.foot {
  text-align: center;
}


.Opentowork {
  padding: 0 10%;
  text-align: center;
}

.instagram,
.github,
.email,
.linkedin {
  top: 0;
  transition: top ease 0.25s;
}

.instagram:hover {
  color: transparent;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  cursor: pointer;
  top: -5px;
}

.github:hover {
  cursor: pointer;
  position: relative;
  top: -5px;
}

.linkedin:hover {
  color: transparent;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: #00a0dc;
  cursor: pointer;
  top: -5px;
}

.email:hover {
  color: transparent;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-color: #ff4949;
  cursor: pointer;
  top: -5px;
}

.contact-form div {
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
}

.contact-form .contact-input {
  color: #fff;
  width: 80vw;
  height: 2.5rem;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent !important;
  overflow: hidden;
  outline: none;
}

.contact-form .contact-input:focus {
  background-color: rgb(0, 0, 0);
  border: none;
  border-bottom: 2px solid white;
}

.contact .contact-form .text-area {
  border: 2px solid white;
  height: 7rem;
}

.submit-button {
  width: 10rem;
}

#Contact {
  margin-bottom: 5rem;
}

#Experience {
  margin-bottom: 5rem;
}

.footer_icons a {
  color: rgb(255, 255, 255);
}

.lottie-anim-1 {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 1rem;
  left: 2rem;
}

.lottie-anim-2 {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  left: 28rem;
  top: 47rem;
}

/* Timeline CSS */

* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.experience-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.experience-container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -8px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: transparent;
  position: relative;
  border-radius: 6px;
  border: 1px solid white;
  backdrop-filter: blur(5px);
}

.content p {
  margin-top: 30px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .experience-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .experience-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* TimeLine CSS Ends */

.accordion {
  color: black;
}

.accordion-button {
  color: white;
  background-color: #00000096;
}

.accordion-body {
  color: white;
  background-color: #00000096;
}

/* Top Scroll Bar */

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  /* background-color: #f1f1f1; */
}

/* The progress container (grey background) */
.progress-container {
  background-color: #303030 !important;
  opacity: 0.925;
  width: 100%;
  height: 2px;
  /* background: rgb(255, 255, 255); */
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 2px;
  background: #ff0000;
  width: 0%;
  transition: 0s;
}

/* Image Loading Animation */
.come-in {
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 1s;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* Image Loading Animation */